{
    "printWidth": 10100,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "proseWrap": "preserve",
    "trailingComma": "es5",
    "tabWidth": 2,
    "singleQuote": true,
    "semi": true
  }