@use '../Abstract/' as *;

.box-state {
  padding: 20px;
  border-radius: 8px;
  box-shadow: $box-shadow;
  overflow: hidden;
  font-family: Arial, sans-serif;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  position: absolute;
  z-index: 100;
  &:hover {
    transform: translateY(-2px);
    box-shadow: $box-shadow-hover;
  }

  .container {
    padding: 20px;
    color: $text-color;
    text-align: center;

    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      margin: 0;
    }
  }

  &.success {
    background-color: $success-color;
  }

  &.error {
    background-color: $error-color;
  }
}
